@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131316;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh; /* Adjust this value as needed */
    width: 90%; /* Adjust this value as needed */
    margin-bottom: 50px;
    color: #4f5ce4;
    padding: 50px;
    overflow-wrap: break-word;
}

.hidden {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.show {
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background-color: #131316;
}

.logo { 
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    font-size: 1.1em;
    color: #4f5ce4;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4f5ce4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #3a43a1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn::after {
    transform-origin: left;
    transform: scaleX(1);
}

.dropdown-content a::after {
    display: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.content h1 {
    color: #4f5ce4;
    font-size: 2em;
    font-family: 'Archivo Black', sans-serif;
    margin-bottom: 20px;
}

.content p {
    color: #4f5ce4;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #4f5ce4;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: #131316;
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }
}